/* This is my style.css file that holds all my .css 
content */

* {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: gray;
}

#name {
    flex: 1;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
   
}

#homeButton {
    
}

