/* This is my style.css file that holds all my .css 
content */

* {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #E29578;
    padding: 30px;
}

#name {
    flex: 1;
    margin-left: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
   
}

.container button {
    background-color: #E29578;
    border-color: #E29578;
    border: 0;
    padding: 6px;
}

.container button:hover {
    background-color: #FFDDD2;
    transition: 0.65s;
}

.heroHeader {
    display: flex;
}

.hero {
    background-color: #FFDDD2;
    padding: 200px;
    display: flex;
    align-items: center;
}

.left {
    margin-right: 20px;
}

#HOME {
}

.right {
    margin-left: 20px;
}
#heroImage {
    height: 500px;
    width: 500px;
}